/* Jaden's code for styling - start*/

/* StoryInterface styling */

body {
	background-color: #000;
}
#interface {
	background-color: black;
	grid-template-rows: 25% 75%;
	grid-template-columns: 25% 75%;
}

#sidebar 	{
	display: grid;
	border: solid white medium;
	float: left;
	grid-template-columns: 25% 25%;
	grid-row: 1;
}
#story-title {
	padding: 1%;
}

#menu-story a {
	color: #ff0000;
	text-shadow: 0.08em 0.08em 0.08em #FFF;
}

#story-subtitle {
background-color: inherit;
grid-column: 5;
}

#menu-story {
	padding: 3%;
	grid-column: 5;
	grid-row: 2;
}

#passages {
	width: 40%;
	flex-flow: row nowrap;
	display: grid;
	padding: 2%;
	grid-row: 2;
}
@media (max-width: 800px) {
  #passages {
		width: 80%;
		text-align: center;
	}
	#interface {
		font-size: 13px;
	}
}
/* StoryInterface styling end */
/* Text styling start */
.comicsans {
font-family: 'Comic Sans MS', 'Comic Sans', 'comicsans';
	src: url('fonts/comic.ttf') format:('truetype'),
	src: url('fonts/comic.woff') format:('woff'),
	src: url('fonts/comic.woff2') format:('woff2');
}

@fontface {
font-family: 'Papyrus', Papyrus;
src: url('fonts/papyrus-webfont.woff2') format:('woff2'),
	url('fonts/papyrus-webfont.woff') format:('woff'),
	url('fonts/papyrus-webfont.ttf') format:('truetype'),
	url('fonts/papyrus-webfont.otf') format:('opentype'),
	url('fonts/papyrus-webfont.svg') format:('svg');
}
.arial {
font-family: Arial, 'Arial';
	src: url('fonts/arial-webfont.woff2') format:('woff2'),
	url('fonts/arial-webfont.woff') format:('woff'),
	url('fonts/arial.ttf') format:('truetype');
}
.dtm-mono {
	font-family: 'dtm-mono', 'Determination Mono Regular';
    src: url('fonts/dtm-mono-webfont.woff2') format:('woff2'),
    url('fonts/dtm-mono-webfont.woff') format:('woff'),
	url('fonts/DTM-mono.otf') format:('opentype');
}
.dtm-sans {
font-family: 'dtm-sans', 'Determination Sans Regular';
	src: url('fonts/DTM-sans.otf') format:('opentype');
	url('fonts/dtm-sans-webfont.woff2') format:('woff2'),
	url('fonts/dtm-sans-webfont.woff') format:('woff');
}
/* Define fonts. */
@font-face {
    font-family: 'New Aster';
    src: url('fonts/new-aster.otf') format('opentype'),
        url('fonts/new-aster-webfont.woff2') format('woff2'),
        url('fonts/new-aster-webfont.woff') format('woff'),
        url('fonts/new-aster.ttf') format('truetype');
}
@font-face {
    font-family: 'Wingdings-Pixelated';
    src: url('fonts/wingdings-pixelated.ttf') format('truetype'),
        url('fonts/wingdings-pixelated-webfont.woff2') format('woff2'),
        url('fonts/wingdings-pixelated-webfont.woff') format('woff'),
        url('fonts/wingdings-pixelated-webfont.svg') format('svg'),
        url('fonts/wingding.ttf') format('truetype');
}

/* Use our defined fonts. */
.aster {
    font-family: 'New Aster';
}
.wingdings {
    font-family: 'Wingdings-Pixelated';
}
.papyrus {
font-family: 'Papyrus', Papyrus;
}
	font-family: Cambria;
}
body, tw-story {
	font-size: 16px;
}

.pcdarklink a {
	color: grey;
	font-weight: 50;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
 .pcdarklink a:hover {
	color: lightgrey;
	font-weight: 50;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
.pcdark {
	color: grey;
	font-weight: 30;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}

/* Jaden's code for styling - end*/
