/* speech.min.css, by chapel; for use with speech.js */
.say {
  border:medium solid white;
  overflow:auto;
}

.say img {
  max-width:20%;
  float:left;
  margin-right:1em;
}

.say p:first-of-type {
  display: none;
}

.say p:last-of-type {
  padding:.5em;
  margin:0;
}
  @media screen and (max-width: 900px) {
    .say p:first-of-type {
      border-right: medium solid white;
      display: inline-block;
      width: 20%;
      font-weight: bold;
      font-size: 18pt;
      text-align: center;
      padding-right:1em;
  }
}