/* Jaden's code for styling - start*/

/* StoryInterface styling */
body, tw-story {
	font-size: 16px;
}
body {
	background-color: #000;
}
#interface {
	background-color: black;
	grid-template-rows: 25% 75%;
	grid-template-columns: 25% 75%;
}

#sidebar 	{
	display: grid;
	border: solid white medium;
	float: left;
/*	grid-template-columns: 25% 25%;
*/	grid-row: 1;
}
#story-title {
	padding: 1%;
}

#menu-story a {
	color: #ff0000;
	text-shadow: 0.08em 0.08em 0.08em #FFF;
}

#story-subtitle {
	background-color: inherit;
/*	grid-column: 5;
*/	grid-row: 2;
	padding: 3%;
}
#invlink a{
	color: #ff0000;
}
#desclink a{
	color: #ff0000;
}
#menu-story {
	padding: 3%;
	grid-column: 5;
	grid-row: 2;
}

#passages {
	width: 50vw;
	flex-flow: row nowrap;
	display: grid;
	padding: 2%;
	grid-row: 2;
}
@media (max-width: 800px) {
  #passages {
		width: 80%;
		text-align: center;
	}
	#interface {
		font-size: 13px;
	}
}
/* StoryInterface styling end */

.pcdarklink a {
	color: grey;
	font-weight: 50;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
.pcdarklink a:hover {
	color: lightgrey;
	font-weight: 50;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
.pcdark {
	color: grey;
	font-weight: 30;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}

/* Jaden's code for styling - end*/
