/* Jaden's code for styling - start*/

/* StoryInterface styling */
body, tw-story {
	font-size: 16px;
	color: white;
}
body {
	background-color: #000;
}
#interface {
	background-color: black;
	grid-template-rows: 25% 75%;
	grid-template-columns: 25% 75%;
}

#sidebar {
	display: grid;
	border: solid white medium;
	float: left;
/*	grid-template-columns: 25% 25%;
*/	grid-row: 1;
}
#story-title {
	padding: 1%;
}

#menu-story a {
	color: #ff0000;
	text-shadow: 0.08em 0.08em 0.08em #FFF;
}

#story-subtitle {
	background-color: inherit;
/*	grid-column: 5;
*/	grid-row: 2;
	padding: 3%;
}
#invlink a {
	color: #ff0000;
}
#desclink a {
	color: #ff0000;
}
#menu-story {
	padding: 3%;
	grid-column: 5;
	grid-row: 2;
}

#passages {
	width: 50vw;
	flex-flow: row nowrap;
	display: grid;
	padding: 2%;
	grid-row: 2;
}
@media (max-width: 800px) {
  #passages {
		width: 80%;
		text-align: center;
	}
	#interface {
		font-size: 13px;
	}
}
/* StoryInterface styling end */
/* Text styling start */

@font-face {
	font-family: dtm-mono;
	src: url('fonts/dtm-mono-webfont.woff2') format("woff2"),
    url('fonts/dtm-mono-webfont.woff') format("woff"),
	url('fonts/DTM-mono.otf') format("otf");
}

@font-face {
	  font-family: comicsans;
	  src: url('fonts/comic.ttf') format("truetype"),
	  url('fonts/comic.woff') format("woff"),
	  url('fonts/comic2.woff2') format("woff2");
}

@font-face {
font-family: papyrus;
src: local("Papyrus Regular"),
url('fonts/papyrus-webfont2.woff2'),
url('fonts/papyrus-webfont1.woff') format("woff"),
url('fonts/papyrus-webfont.ttf') format("truetype"),
url('fonts/papyrus-webfont-otf.otf') format("otf"),
url('fonts/papyrus-webfont-svg.svg') format("svg");
} 

@font-face {
	font-family: dtm-sans;
	src: local("Determination Sans Regular"),
 	url('fonts/DTM-sans.otf') format("otf"),
	url('fonts/dtm-sans-webfont.woff2') format("woff2"),
    url('fonts/dtm-sans-webfont.woff') format("woff");
}

@font-face {
	font-family: Aster;
	src: url('fonts/new-aster.otf') format("otf"),
     url("fonts/new-aster-webfont.woff2") format("woff2"), 
     url('fonts/new-aster-webfont.woff') format("woff"),
	 url('fonts/new-aster.ttf') format("truetype");
}

@font-face {
	font-family: Wingdings;
	src: local("Wingdings Pixelated Regular") format("truetype"),
	local("Wingdings Regular") format("truetype"),
	url('fonts/wingdings-pixelated-webfont.ttf') format('truetype'),
    url('fonts/wingdings-pixelated-webfont.woff2') format('woff2'),
    url('fonts/wingdings-pixelated-webfont.woff') format('woff'),
	url('fonts/wingdings-pixelated-webfont.svg') format('svg');
}

@font-face {
	font-family: Cambria;
  src: url('fonts/cambria.ttf') format("ttf"),
  url('fonts/cambria-otf.otf') format("otf"),
  url('fonts/cambria1.woff') format("woff");
}

.comicsans {
	  font-family: 'Comic Sans MS', 'Comic Sans', comicsans;  
}

.papyrus {
	font-family: papyrus;
}

.arial {
	font-family: Arial;
}

.dtm-mono {
	font-family: dtm-mono;
}

.dtm-sans {
	font-family: dtm-sans;
}

.aster  {
	font-family: Aster;
}

.wingdings {
	font-family: Wingdings;
}

.cambria {
	font-family: Cambria;
}

body, tw-story {
	font-size: 16px;
}

.pcdark {
	color: grey;
	font-weight: 30;
	color: transparent;
	text-shadow: 
	0em    0em 0.02em rgba(255,255,255,0.75),
	-0.2em 0em 0.5em  rgba(255,255,255,0.5),
	0.2em  0em 0.5em  rgba(255,255,255,0.5);
	/* Jaden's code for styling - end*/
}

.pcdarklink a {
	color: grey;
	font-weight: 50;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
.pcdarklink a:hover {
	color: lightgrey;
	font-weight: 50;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
.pcdark {
	color: grey;
	font-weight: 30;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
