/* Jaden's code for styling - start*/

/* StoryInterface Styling */

#passages {
width: 100%;
flex-flow: column nowrap;
display: block flow;
padding: 5%, 5%, 5%, 5%;
}
#sidebar 	{
	border-style: solid;
	border-color: white;
	border-width: medium;
	width: 40%;
	float: left;
	margin-right: 50px;
	flex-flow: column nowrap;
}
#images {
	border-bottom-width: 6px;
	border-right-width: 6px;
	margin: 5%, 5%, 5%, 5%;
	width: 70%;
}

#interface {
	background-color: black;
}
#menu-story a {
	color: #ff0000;
	text-shadow: 0.08em 0.08em 0.08em #FFF;
	float: left;
}

#story-subtitle {
background-color: inherit;
width: 25%;
float: left;
flex-flow: column wrap;
}
#menu-story {
	float: left;
	padding: 2%, 2%, 2%, 2%;
	width: 250px;
	float: left;
	flex-flow: column wrap;
}
#menu-dialog-story.saves {
	background-color: black;
	background-image: image("/imgs/SAVE_LOAD_DTM_STAR.png");
}
/* StoryInterface styling end */
.comicsans {
	  font-family: Comic Sans MS, Comic Sans, "comicsans";
	  src: url('fonts/comic.ttf') format:('truetype'),
	  src: url('fonts/comic.woff') format:('woff'),
	  src: url('fonts/comic.woff2') format:('woff2');
}
.papyrus {
	font-family: 'Papyrus';
    src: url('fonts/papyrus-webfont.woff2') format:('woff2'),
    src: url('fonts/papyrus-webfont.woff') format:('woff'),
	src: url('fonts/papyrus-webfont.ttf') format:('truetype'),
	src: url('fonts/papyrus.otf') format:('opentype'),
	src: url('fonts/papyrus.svg') format:('svg');
}
.arial {
	font-family: Arial, 'Arial';
	src: url('fonts/arial-webfont.woff2') format:('woff2'),
    src: url('fonts/arial-webfont.woff') format:('woff'),
	src: url('fonts/arial.ttf') format:('truetype');
}
.dtm-mono {
	font-family: 'dtm-mono';
    src: url('fonts/dtm-mono-webfont.woff2') format:('woff2'),
    src: url('fonts/dtm-mono-webfont.woff') format:('woff'),
	src: url('fonts/DTM-mono.otf') format:('opentype');
}
.dtm-sans {
	font-family: 'dtm-sans';
	src: url('fonts/DTM-sans.otf') format:('opentype');
	src: url('fonts/dtm-sans-webfont.woff2') format:('woff2'),
    src: url('fonts/dtm-sans-webfont.woff') format:('woff');
}
.aster  {
	font-family: 'Gaster-Regular';
	src: url('fonts/new-aster.otf') format:('opentype'),
    src: url('fonts/new-aster-webfont.woff2') format:('woff2'),
    src: url('fonts/new-aster-webfont.woff') format:('woff');
	src: url('fonts/new-aster.ttf') format:('truetype'),
}
.wingdings {
	font-family: 'Wing-Ding-Gaster', Wingdings;
	src: url('fonts/wingdings-pixelated-webfont.ttf') format:('truetype'),
    src: url('fonts/wingdings-pixelated-webfont.woff2') format:('woff2'),
    src: url('fonts/wingdings-pixelated-webfont.woff') format:('woff'),
	src: url('fonts/wingdings-pixelated-webfont.svg') format:('svg');
}
.cambria {
	font-family: Cambria;
}
body, tw-story {
	font-size: 16px;
}
body {
	background-color: #000;
}
.pcdarklink a {
	color: grey;
	font-weight: 50;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
 .pcdarklink a:hover {
	color: lightgrey;
	font-weight: 50;
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}
.pcdark {
	color: grey;
	font-weight: 30
	color: transparent;
	text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5);
}

/* Jaden's code for styling - end*/
