/* StoryInterface styling */

body {
	background-color: #000;
}

#interface {
	background-color: black;
	grid-template-rows: 25% 75%;
	grid-template-columns: 25% 75%;
}

#sidebar 	{
	display: grid;
	border: solid white medium;
	float: left;
	grid-template-columns: 25% 25%;
	grid-row: 1;
}

#story-title {
	padding: 1%;
}

#menu-story a {
	color: #ff0000;
	text-shadow: 0.08em 0.08em 0.08em #FFF;
}

#story-subtitle {
background-color: inherit;
grid-column: 5;
}

#menu-story {
	padding: 3%;
	grid-column: 5;
	grid-row: 2;
}

#passages {
	width: 40%;
	flex-flow: row nowrap;
	display: grid;
	padding: 2%;
	grid-row: 2;
}
/* StoryInterface styling end */
